@import 'src/styles/variables';

.search-container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  background: #f9f9f9;
}

.search-container input {
  width: 50%;
  padding: .7rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  transition: .3s;
}

.search-container input:focus {
  border-color: #22a6b3;
  box-shadow: 0 0 6px rgba(34, 166, 179, .3);
}